---
title: CQC Checklists
---
<h1>CQC Checklists</h1>

<p class="lead">The checklists below may be a useful tool to use in your preparations for the Care Quality visit.</p>
<p>The checklists also serve as a reminder of the standards we strive to achieve every day for our patients and each other:</p>

<ul class="media-list">
  
  <li class="media" id="community-list">
    <div class="media-left">
      <% link_to '/docs/STH_community_services_checklist.pdf', target: "_blank" do %>
        <%= image_tag 'community_thumbnail.jpg', class: "media-object", width: "100" %>
      <% end %>

    </div>
    <div class="media-body">
      <h4 class="media-heading">Community Checklist</h4>
      <p><em>The Care Quality Commission will be inspecting our organisation w/c 7 December and the areas below are some of the things which the inspectors will look for when they come to your service...</em></p>
        <%= link_to 'Download Community Checklist', "/docs/STH_community_services_checklist.pdf", target: "_blank" %>
    </div>
  </li>
  
  <li class="media" id="diagnostic-list">
    <div class="media-left">
      <% link_to '/docs/STH_Diagnostics_checklist.pdf', target: "_blank" do %>
        <%= image_tag 'diagnostic_thumbnail.jpg', class: "media-object", width: "100" %>
      <% end %>

    </div>
    <div class="media-body">
      <h4 class="media-heading">Diagnostic Imaging Checklist</h4>
      <p><em>The Care Quality Commission will be inspecting our organisation w/c 7 December and the areas below are some of the things which the inspectors will look for when they come to your service...</em></p>
        <%= link_to 'Download Diagnostic Imaging Checklist', "/docs/STH_Diagnostics_checklist.pdf", target: "_blank" %>
    </div>
  </li>
  
  <li class="media" id="theatre-list">
    <div class="media-left">
      <% link_to '/docs/STH_Theatres_checklist.pdf', target: "_blank" do %>
        <%= image_tag 'operating_thumbnail.jpg', class: "media-object", width: "100" %>
      <% end %>

    </div>
    <div class="media-body">
      <h4 class="media-heading">Operating Theatres &amp; Anaesthetics Checklist</h4>
      <p><em>The Care Quality Commission will be inspecting our organisation w/c 7 December and the areas below are some of the things which the inspectors will look for when they come to your service...</em></p>
        <%= link_to 'Download Operating Theatres & Anaesthetics Checklist', "/docs/STH_Theatres_checklist.pdf", target: "_blank" %>
    </div>
  </li>
  
  <li class="media" id="outpatients-list">
    <div class="media-left">
      <% link_to '/docs/STH_outpatients_checklist.pdf', target: "_blank" do %>
        <%= image_tag 'outpatients_thumbnail.jpg', class: "media-object", width: "100" %>
      <% end %>

    </div>
    <div class="media-body">
      <h4 class="media-heading">Outpatients Checklist</h4>
      <p><em>The Care Quality Commission will be inspecting our organisation w/c 7 December and the areas below are some of the things which the inspectors will look for when they come to your service...</em></p>
        <%= link_to 'Download Outpatients Checklist', "/docs/STH_outpatients_checklist.pdf", target: "_blank" %>
    </div>
  </li>
  
  
  <li class="media" id="ward-list">
    <div class="media-left">
      <% link_to '/docs/STH_ward_checklist.pdf', target: "_blank" do %>
        <%= image_tag 'ward_thumbnail.jpg', class: "media-object", width: "100" %>
      <% end %>

    </div>
    <div class="media-body">
      <h4 class="media-heading">Ward Checklist</h4>
      <p><em>The Care Quality Commission will be inspecting our organisation w/c 7 December and the areas below are some of the things which the inspectors will look for when they come onto your ward...</em></p>
        <%= link_to 'Download Ward Checklist', "/docs/STH_ward_checklist.pdf", target: "_blank" %>
    </div>
  </li>
  
</ul>