---
title: Key Documents
---
<h1>Key Trust Documents</h1>
<p class="lead">You can find key documents and publications from the last year, including our Quality Report Summary, below:</p>

<ul class="media-list">
  
  <li class="media" id="corporate-download">
    <div class="media-left">
      <% link_to '/docs/Corporate_Strategy_2012-2017.pdf', target: "_blank" do %>
        <%= image_tag 'Corporate_Strategy_2012-2017_thumbnail.jpg', class: "media-object", width: "100" %>
      <% end %>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Making a Difference - Corporate Strategy</h4>
      <p><em>Sheffield Teaching Hospitals NHS Foundation Trust is now the major provider of adult health care to the city in both community and acute settings. We also provide a substantial range of specialist services to people from South Yorkshire, North Derbyshire and beyond ...</em></p>
        <%= link_to 'Download Corporate Strategy', "/docs/Corporate_Strategy_2012-2017.pdf", target: "_blank" %>
    </div>
  </li>
  
  <li class="media" id="summary-download">
    <div class="media-left">
      <% link_to '/docs/Making_a_difference_Quality_Report_Summary_2015.pdf', target: "_blank" do %>
        <%= image_tag 'Making_a_difference_Quality_Report_Summary_2015_thumbnail.jpg', class: "media-object", width: "100" %>
      <% end %>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Making a Difference - Quality Report Summary</h4>
      <p><em>At Sheffield Teaching Hospitals NHS Foundation Trust we remain committed to delivering good clinical outcomes and a high standard of patient experience both in our hospitals and in the community ...</em></p>
        <%= link_to 'Download Quality Report Summary', "/docs/Making_a_difference_Quality_Report_Summary_2015.pdf", target: "_blank" %>
    </div>
  </li>
  
  <li class="media" id="report-download">
    <div class="media-left">
      <% link_to '/docs/Quality_Report-2015.pdf', target: "_blank" do %>
        <%= image_tag 'Quality_Report-2015_thumbnail.jpg', class: "media-object", width: "100" %>
      <% end %>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Making a Difference - Quality Report 2015</h4>
      <p><em>Quality Reports enable NHS Foundation Trusts to be held to account by the public, as well as providing useful information for current and future patients. This Quality Report is an attempt to convey an honest, open and accurate assessment of the quality of care ...</em></p>
        <%= link_to 'Download Quality Report 2015', "/docs/Quality_Report-2015.pdf", target: "_blank" %>
    </div>
  </li>
  
  
</ul>