---
title: CQC Information Sheets
---
<h1>Information Sheets</h1>
<p class="lead">These information sheets have been produced in response to feedback from staff. The sheets can be used to remind yourself of key topics or to brief team members should you need to.</p>
<p>Over the coming weeks, further sheets relating to the Key Lines of Enquiry (KLOE) used by the Care Quality Commission will be added to the list below.</p>

<ul class="media-list">
  
  <li class="media" id="complaints-information">
    <div class="media-left">
      <% link_to '/docs/CQC-Infosheet-Complaints-Ward-Info.docx', target: "_blank" do %>
        <%= image_tag 'CQC-Infosheet-Complaints-Ward-Info_thumbnail.jpg', class: "media-object", width: "100" %>
      <% end %>

    </div>
    <div class="media-body">
      <h4 class="media-heading">Complaints Information Sheet</h4>
      <p><em>What you need to know about complaints and concerns: Q. How am I expected to respond to a complaint? It is important that we receive feedback, both good and bad, about our services so we can continually improve. All complaints and concerns are welcomed, and by taking a few minutes ...</em></p>
        <%= link_to 'Download Complaints Information Sheet', "/docs/CQC-Infosheet-Complaints-Ward-Info.docx", target: "_blank" %>
    </div>
  </li>
  
  <li class="media" id="infection-information">
    <div class="media-left">
      <% link_to '/docs/CQC-Infosheet-Infection-Control.pdf', target: "_blank" do %>
        <%= image_tag 'CQC-Infosheet-Infection-Control_thumbnail.jpg', class: "media-object", width: "100" %>
      <% end %>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Infection Control Information Sheet</h4>
      <p><em>Our infection rates are some of the lowest in the NHS. Infections can have devastating effects for a patient which is why we spend so much time trying to do all we can to prevent infections being transmitted within our hospitals. Thanks to this rigorous focus...</em></p>
        <%= link_to 'Download Infection Control Information Sheet', "/docs/CQC-Infosheet-Infection-Control.pdf", target: "_blank" %>
    </div>
  </li>
  
  <li class="media" id="medicine-information">
    <div class="media-left">
      <% link_to '/docs/CQC-Infosheet-Management-Medicines.pdf', target: "_blank" do %>
        <%= image_tag 'CQC-Infosheet-Management-Medicines_thumbnail.jpg', class: "media-object", width: "100" %>
      <% end %>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Management of Medicines Information Sheet</h4>
      <p><em>The Care Quality Commission inspectors will be checking that our patients are given the medicines they need when they need them and in a safe way. They will review the arrangements we have in place to manage medicines to ensure that people are protected against the risks associated with medicines...</em></p>
        <%= link_to 'Download Management of Medicines Information Sheet', "/docs/CQC-Infosheet-Management-Medicines.pdf", target: "_blank" %>
    </div>
  </li>
  
  <li class="media" id="mental-information">
    <div class="media-left">
      <% link_to '/docs/CQC-Infosheet-Mental-Capacity.pdf', target: "_blank" do %>
        <%= image_tag 'CQC-Infosheet-Mental-Capacity_thumbnail.jpg', class: "media-object", width: "100" %>
      <% end %>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Mental Capacity Information Sheet</h4>
      <p><em>The trust is committed to providing training and guidance to staff on their responsibilities under the Mental Capacity Act and the Deprivation of Liberty Safeguards, in order to ensure: All patients’ human rights are protected Staff are supported to act in patient’s best interests in accordance with the law The trust complies with the law...</em></p>
        <%= link_to 'Download Mental Capacity Information Sheet', "/docs/CQC-Infosheet-Mental-Capacity.pdf", target: "_blank" %>
    </div>
  </li>
  
  <li class="media" id="nutrition-information">
    <div class="media-left">
      <% link_to '/docs/CQC-Infosheet-Nutrition-Hydration.pdf', target: "_blank" do %>
        <%= image_tag 'CQC-Infosheet-Nutrition-Hydration_thumbnail.jpg', class: "media-object", width: "100" %>
      <% end %>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Nutrition and Hydration Information Sheet</h4>
      <p><em>We are one of the first Trusts to develop and implement a Nutrition and Hydration assurance tool for use on all in-patient areas around our hospitals. Nutrition and hydration are key elements in providing high quality care to patients in hospitals as well as in the community. Malnutrition has been an increasing problem across the NHS...</em></p>
        <%= link_to 'Download Nutrition and Hydration Information Sheet', "/docs/CQC-Infosheet-Nutrition-Hydration.pdf", target: "_blank" %>
    </div>
  </li>
  
  <li class="media" id="patient-information">
    <div class="media-left">
      <% link_to '/docs/CQC-Infosheet-Patient-Feedback.pdf', target: "_blank" do %>
        <%= image_tag 'CQC-Infosheet-Patient-Feedback_thumbnail.jpg', class: "media-object", width: "100" %>
      <% end %>

    </div>
    <div class="media-body">
      <h4 class="media-heading">Patient Feedback Information Sheet</h4>
      <p><em>The experience of patients and their families is at the heart of everything we do, and the Trust takes pride in delivering the highest levels of care. Gaining feedback from patients and their families is important in telling us where we are doing well and identifying areas where we can make improvements, so that we can continue to provide a high standard of care...</em></p>
        <%= link_to 'Download Patient Feedback Information Sheet', "/docs/CQC-Infosheet-Patient-Feedback.pdf", target: "_blank" %>
    </div>
  </li>
  
  <li class="media" id="quality-information">
    <div class="media-left">
      <% link_to '/docs/CQC-Infosheet-Quality-Governance.pdf', target: "_blank" do %>
        <%= image_tag 'CQC-Infosheet-Quality-Governance_thumbnail.jpg', class: "media-object", width: "100" %>
      <% end %>

    </div>
    <div class="media-body">
      <h4 class="media-heading">Quality Governance Information Sheet</h4>
      <p><em>Sheffield Teaching Hospital’s vision is to be recognised as the best provider of healthcare, clinical research and education in the UK and as a strong contributor to the aspirations of Sheffield to be a vibrant and healthy city region. Our drive for improvement is embodied within the Trust’s Corporate Strategy ‘Making a Difference’. The Strategy outlines five overarching aims ...</em></p>
        <%= link_to 'Download Quality Governance Information Sheet', "/docs/CQC-Infosheet-Quality-Governance.pdf", target: "_blank" %>
    </div>
  </li>
  
  <li class="media" id="quality-information">
    <div class="media-left">
      <% link_to '/docs/CQC-Infosheet-Seven-day-services.pdf', target: "_blank" do %>
        <%= image_tag 'CQC-Infosheet-Seven-day-services_thumbnail.jpg', class: "media-object", width: "100" %>
      <% end %>

    </div>
    <div class="media-body">
      <h4 class="media-heading">Seven Day Services Information Sheet</h4>
      <p><em>The model of healthcare in the NHS in many ways still mirrors the model configured decades ago, with many services shutting down over weekends and public holidays. This can result in delays to treatment that can contribute to less favourable outcomes for patients. Whilst modern day life has seen the development of other essential public services ...</em></p>
        <%= link_to 'Download Seven Day Services Information Sheet', "/docs/CQC-Infosheet-Seven-day-services.pdf", target: "_blank" %>
    </div>
  </li>
  
</ul>