<!-- -->
<div class="panel panel-primary">
  <div class="panel-heading"><h3 class="panel-title">Menu</h3></div>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to "Home", "/index.html" %></li>
    <li class="list-group-item"><%= link_to "Checklists", "/checklists.html" %></li>
    <li class="list-group-item"><%= link_to "Information Sheets", "/infosheets.html" %></li>
    <li class="list-group-item"><%= link_to "Frequently Asked Questions", "/faq.html" %></li>
    <li class="list-group-item"><%= link_to "Key Documents", "/documents.html" %></li>
    <li class="list-group-item"><%= link_to "Newsletters", "/news.html" %></li>
  </ul>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><h3 class="panel-title">Videos</h3></div>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to "CQC Preparation", "https://sthnhs.webex.com/ec3000/eventcenter/recording/recordAction.do?theAction=poprecord&AT=pb&internalRecordTicket=4832534b000000021d3fa0afab7016e7445bef53ccb1ee7578df1ae245e3f9ac7c5a656deeb96891&renewticket=0&isurlact=true&recordID=15592007&apiname=lsr.php&format=short&needFilter=false&&SP=EC&rID=15592007&RCID=566ebfcb516174f8f729e8925c90a1f4&siteurl=sthnhs&actappname=ec3000&actname=%2Feventcenter%2Fframe%2Fg.do&rnd=2870011816&entappname=url3000&entactname=%2FnbrRecordingURL.do", target: "_blank" %></li>
  </ul>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><h3 class="panel-title">Information Sheets</h3></div>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to "Information Sheets", "/infosheets.html" %></li>
    <li class="list-group-item"><%= link_to 'Download Complaints Information Sheet', "/docs/CQC-Infosheet-Complaints-Ward-Info.docx", target: "_blank" %></li>
    <li class="list-group-item"><%= link_to 'Download Management of Medicines Information Sheet', "/docs/CQC-Infosheet-Management-Medicines.pdf", target: "_blank" %></li>
    <li class="list-group-item"><%= link_to 'Download Mental Capacity Information Sheet', "/docs/CQC-Infosheet-Mental-Capacity.pdf", target: "_blank" %></li>
    <li class="list-group-item"><%= link_to 'Download Nutrition and Hydration Information Sheet', "/docs/CQC-Infosheet-Nutrition-Hydration.pdf", target: "_blank" %></li>
    <li class="list-group-item"><%= link_to 'Download Patient Feedback Information Sheet', "/docs/CQC-Infosheet-Patient-Feedback.pdf", target: "_blank" %></li>
    <li class="list-group-item"><%= link_to 'Download Quality Governance Information Sheet', "/docs/CQC-Infosheet-Quality-Governance.pdf", target: "_blank" %></li>
    <li class="list-group-item"><%= link_to 'Download Seven Day Services Information Sheet', "/docs/CQC-Infosheet-Seven-day-services.pdf", target: "_blank" %></li>
  </ul>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><h3 class="panel-title">Checklists</h3></div>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to "Checklists", "/checklists.html" %></li>
    <li class="list-group-item"><%= link_to 'Download Community Checklist', "/docs/STH_community_services_checklist.pdf", target: "_blank" %></li>
    <li class="list-group-item"><%= link_to 'Download Diagnostic Imaging Checklist', "/docs/STH_Diagnostics_checklist.pdf", target: "_blank" %></li>
    <li class="list-group-item"><%= link_to 'Download Operating Theatres & Anaesthetics Checklist', "/docs/STH_Theatres_checklist.pdf", target: "_blank" %></li>
    <li class="list-group-item"><%= link_to 'Download Outpatients Checklist', "/docs/STH_outpatients_checklist.pdf", target: "_blank" %></li>
    <li class="list-group-item"><%= link_to 'Download Ward Checklist', "/docs/STH_ward_checklist.pdf", target: "_blank" %></li>
  </ul>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><h3 class="panel-title">Newsletters</h3></div>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to "All Newsletters", "/news.html" %></li>
  </ul>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><h3 class="panel-title">Contact</h3></div>
  <div class="panel-body">
    <p>If you have any questions, please contact your Manager or Nurse Director for more information.</p>
    <p>You can also contact Sandi Carmen, <a href="mailto:sandi.carmen@sth.nhs.uk">Head of Healthcare Governance via email</a> for further information about the inspection process.</p>
  </div>
</div>

<a href="http://nww.sth.nhs.uk/NHS/IntranetIndex.htm">Return to Intranet Site Index</a>